<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/Stylesheets/user/cssM/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/Stylesheets/user/cssM/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/Stylesheets/user/cssM/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="/Stylesheets/user/cssM/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="/Stylesheets/user/cssM/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="/Stylesheets/user/cssM/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="/Stylesheets/user/cssM/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="/Stylesheets/user/cssM/style.css" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="/maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="/cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css" />
    <link rel="stylesheet" href="/Stylesheets/user/cssM/css/style.css" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="/Stylesheets/user/cssL/nucleo-icons.css" rel="stylesheet" />
    
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    
    <!-- CSS Files -->
    <link id="pagestyle" href="/Stylesheets/user/cssL/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
    <!-- Nucleo Icons -->
    
    <link href="/Stylesheets/user/cssL/nucleo-svg.css" rel="stylesheet" />

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <% if(token) { %>
        <!-- Header Section Begin -->

        <div class="container position-sticky z-index-sticky top-0">
            <div class="row">
                <div class="col-12">
                    <!-- Navbar -->
                    <nav
                        class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                        <div class="container-fluid">
                            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="/">
                                <img src="/img/logoMain.png" style="height: 15px" alt="" />
                            </a>
                            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon mt-2">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </span>
                            </button>
                            <div class="collapse navbar-collapse" id="navigation">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item font-weight-bolder">
                                        <a class="nav-link d-flex align-items-center me-2" 
                                            href="/">
                                            HOME
                                        </a>
                                    </li>
                                    <li class="nav-item font-weight-bolder">
                                        <a class="nav-link me-2 " href="/shop">
                                            SHOP
                                        </a>
                                    </li>
                                    <li class="nav-item font-weight-bolder">
                                        <a class="nav-link me-2 " href="/wishlist">
                                            WISHLIST
                                        </a>
                                    </li>
                                    <li class="nav-item font-weight-bolder">
                                        <a class="nav-link me-2 " href="/shoppingCart">
                                            CART
                                        </a>
                                    </li>
                                    <li class="nav-item font-weight-bolder">
                                        <a class="nav-link me-2 " href="/userProfile">
                                            MY ACCOUNT
                                        </a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav d-lg-block d-none">
                                    <li class="nav-item">
                                        <a href="/logout" class="btn btn-sm btn-round mb-0 me-1 bg-gradient-dark">
                                            LOGOUT</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
            </div>
        </div>
        <!-- Header Section End -->

        <% } else {%>
            <!-- Header Section Begin -->

            <div class="container position-sticky z-index-sticky top-0">
                <div class="row">
                    <div class="col-12">
                        <!-- Navbar -->
                        <nav
                            class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                            <div class="container-fluid">
                                <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="/">
                                    <img src="/img/logoMain.png" style="height: 15px" alt="" />
                                </a>
                                <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon mt-2">
                                        <span class="navbar-toggler-bar bar1"></span>
                                        <span class="navbar-toggler-bar bar2"></span>
                                        <span class="navbar-toggler-bar bar3"></span>
                                    </span>
                                </button>
                                <div class="collapse navbar-collapse" id="navigation">
                                    <ul class="navbar-nav mx-auto">
                                        <li class="nav-item font-weight-bolder">
                                            <a class="nav-link d-flex align-items-center me-2 active "
                                                aria-current="page" href="/">
                                                HOME
                                            </a>
                                        </li>
                                        <li class="nav-item font-weight-bolder">
                                            <a class="nav-link me-2 " href="/shop">
                                                SHOP
                                            </a>
                                        </li>
                                        <!-- <li class="nav-item font-weight-bolder">
                                            <a class="nav-link me-2 " href="/shop">
                                                NEW ARRIVALS
                                            </a>
                                        </li>
                                        <li class="nav-item font-weight-bolder">
                                            <a class="nav-link me-2 " href="/shop">
                                                NEW OFFERS
                                            </a>
                                        </li> -->
                                    </ul>
                                    <ul class="navbar-nav d-lg-block d-none">
                                        <li class="nav-item">
                                            <a href="/login"
                                                class="btn btn-sm btn-round mb-0 me-1 bg-gradient-dark">
                                                SIGN IN</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <!-- End Navbar -->
                    </div>
                </div>
            </div>
            <!-- Header Section End -->

        <% } %>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/home" style="text-decoration: none;">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <!-- <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form> -->
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion " id="accordionExample">
                                <div class="card">
                                    <div class="card-heading p-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <a data-toggle="collapse" data-target="#collapseOne">Categories </a>
                                            </div>
                                            <div class="col-6 text-end">
                                               <a data-toggle="collapse" data-target="#collapseOne"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                              </svg></a> 
                                            </div>

                                        </div>
                                    </div>
                                    <div id="collapseOne" class="collapse " data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <% category.forEach((cat)=>{ %> 
                                                    <li><a href="/shop/<%= cat._id %>"><%= cat.name %> </a></li>
                                                    <% }) %> 
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="#">Louis Vuitton</a></li>
                                                    <li><a href="#">Chanel</a></li>
                                                    <li><a href="#">Hermes</a></li>
                                                    <li><a href="#">Gucci</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="card">
                                    <div class="card-heading p-3">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul>
                                                    <li><a href="#">$0.00 - $50.00</a></li>
                                                    <li><a href="#">$50.00 - $100.00</a></li>
                                                    <li><a href="#">$100.00 - $150.00</a></li>
                                                    <li><a href="#">$150.00 - $200.00</a></li>
                                                    <li><a href="#">$200.00 - $250.00</a></li>
                                                    <li><a href="#">250.00+</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="card">
                                    <div class="card-heading p-3">
                                        <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                    </div>
                                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__size">
                                                
                                                <label for="xs">
                                                    <input type="radio" name="size" value="" id="xs">
                                                </label>
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                    </div>
                                    <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__color">
                                                <label class="c-1" for="sp-1">
                                                    <input type="radio" id="sp-1">
                                                </label>
                                                <label class="c-2" for="sp-2">
                                                    <input type="radio" id="sp-2">
                                                </label>
                                                <label class="c-3" for="sp-3">
                                                    <input type="radio" id="sp-3">
                                                </label>
                                                <label class="c-4" for="sp-4">
                                                    <input type="radio" id="sp-4">
                                                </label>
                                                <label class="c-5" for="sp-5">
                                                    <input type="radio" id="sp-5">
                                                </label>
                                                <label class="c-6" for="sp-6">
                                                    <input type="radio" id="sp-6">
                                                </label>
                                                <label class="c-7" for="sp-7">
                                                    <input type="radio" id="sp-7">
                                                </label>
                                                <label class="c-8" for="sp-8">
                                                    <input type="radio" id="sp-8">
                                                </label>
                                                <label class="c-9" for="sp-9">
                                                    <input type="radio" id="sp-9">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="card">
                                    <div class="card-heading p-3">
                                        <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                    </div>
                                    <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__tags">
                                                <a href="#">Product</a>
                                                <a href="#">Bags</a>
                                                <a href="#">Shoes</a>
                                                <a href="#">Fashio</a>
                                                <a href="#">Clothing</a>
                                                <a href="#">Hats</a>
                                                <a href="#">Accessories</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing 1-<%= items_per_page %>  of <%= totalProducts %>  results</p>
                                </div>
                            </div>
                            <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select>
                                        <a href="/shop">
                                            <option><button type="button" value="Low To High" name="option"></button> Low To High</option> 
                                            <option><button type="button" value="High To Low" name="option"></button> High To Low</option>
                                        </a>
                                    </select>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <% if(option == 'Low To High') { %> 
                        <div class="row">
                            <% productCat.forEach(function(product){ %>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <form action="/wishlist/<%= product._id %>" method="post">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg"
                                                data-setbg="/img/<%= product.imageUrl %>">
                                                <ul class="product__hover">
                                                    <li><button style="border: none;background-color: white;"><img src="img/icon/heart.png" alt=""></button></li>
                                                </ul>
                                            </div>
                                            <div class="product__item__text">
                                                <h6>
                                                    <%= product.name %>
                                                </h6>
                                                <a href="/productDetails/<%= product._id %>" class=""><%= product.name %></a>
                                                <!-- <div class="rating">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div> -->
                                                <h5>₹<%= product.price %>
                                                </h5>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            <% }) %>
                        </div>
                    <% } else { %>
                        <div class="row">
                            <% productCat.forEach(function(product){ %>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <form action="/wishlist/<%= product._id %>" method="post">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg"
                                                data-setbg="/img/<%= product.imageUrl %>">
                                                <ul class="product__hover">
                                                    <li><button style="border: none;background-color: white;"><img src="img/icon/heart.png" alt=""></button></li>
                                                </ul>
                                            </div>
                                            <div class="product__item__text">
                                                <h6>
                                                    <%= product.name %>
                                                </h6>
                                                <a href="/productDetails/<%= product._id %>" class=""><%= product.name %></a>
                                                <!-- <div class="rating">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div> -->
                                                <h5>₹<%= product.price %>
                                                </h5>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            <% }) %>
                        </div>
                    <% } %>     
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">

                                <section class="d-flex justify-content-center mt-2">
                                    <% if(hasPreviousPage){ %>
                                        <a href="/shop?page=<%= PreviousPage %>"><%= page-1 %></a>
                                    <% } %>
                                        <a href="/shop?page=<%= page %>" class="active"><%= page %></a>
                                    <% if(hasNextPage) { %>
                                        <a href="/shop?page=<%=  page+1 %>"><%= page+1 %></a>
                                    <% } %>
                                  </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="footer__copyright__text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <p>Copyright ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                All rights reserved 
                            </p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="../javascript/user/js/jquery-3.3.1.min.js"></script>
    <script src="../javascript/user/js/bootstrap.min.js"></script>
    <script src="../javascript/user/js/jquery.nice-select.min.js"></script>
    <script src="../javascript/user/js/jquery.nicescroll.min.js"></script>
    <script src="../javascript/user/js/jquery.magnific-popup.min.js"></script>
    <script src="../javascript/user/js/jquery.countdown.min.js"></script>
    <script src="../javascript/user/js/jquery.slicknav.js"></script>
    <script src="../javascript/user/js/mixitup.min.js"></script>
    <script src="../javascript/user/js/owl.carousel.min.js"></script>
    <script src="../javascript/user/js/main.js"></script>
</body>

</html>